html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@media (min-width: 1800px) and (max-width: 2560px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
  .page-description .page-name {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 90px 0;
  }
  .page-description .page-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .page-description .page-name {
    padding: 30px 0;
  }
  .page-description .page-name h2 {
    font-size: 2rem;
    line-height: 35px;
    letter-spacing: -0.05em;
  }
  .page-description .page-name span {
    width: 100%;
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 35px;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
  }
  .default-navigation a {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-right: 10px;
    padding: 1% 4%;
  }
  .default-navigation p {
    margin-right: 10px;
    padding: 1% 4%;
  }
  .feedback-block {
    padding: 30px 20px;
    margin-bottom: 35px;
  }
  .feedback-block img {
    top: -25px;
    left: 20px;
    position: absolute;
    width: 70px;
  }
}

@media (max-width: 1360px) {
  header .header-wrapper .header-info {
    width: 70%;
  }
  header .header-wrapper .header-contacts {
    width: 100%;
  }
  header .header-wrapper .header-contacts .header-contacts__tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-wrapper .header-contacts .header-contacts__tel p {
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .header-scroll .header-wrapper .header-logo {
    width: 20%;
  }
  .header-scroll .header-wrapper .header-info {
    width: 72%;
  }
  .header-scroll .header-wrapper nav a {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .header-scroll .header-wrapper {
    padding: 10px 0;
  }
  .header-scroll .header-wrapper .header-logo {
    width: 30%;
  }
  .header-scroll .header-wrapper .header-info {
    display: none;
  }
  .header-scroll .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-scroll .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    width: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-scroll .burg {
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #333333;
  }
  .header-scroll .burg:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .header-scroll .header-wrapper .header-logo {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  footer .footer-wrapper .footer-logo {
    width: 20%;
  }
  footer .footer-wrapper .footer-contacts {
    width: 100%;
  }
  footer .footer-wrapper .footer-contacts__socials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-wrapper .footer-logo {
    width: 40%;
  }
  footer .footer-wrapper .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-wrapper .footer-contacts__infblock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .footer-contacts__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-wrapper .footer-rigts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-wrapper .footer-rigts p {
    margin-bottom: 30px;
  }
  footer .footer-wrapper .footer-rigts a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-wrapper .footer-rigts a img {
    margin: 0;
  }
}

@media (max-width: 450px) {
  footer .footer-wrapper .footer-logo {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .main-form .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-form .form-text {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
  .main-form .form-text h2 {
    width: 60%;
  }
  .main-form .form-text p {
    width: 70%;
  }
  .main-form form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .main-form .form-text h2 {
    width: 100%;
  }
  .main-form .form-text p {
    width: 100%;
  }
  .main-form form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 40px 20px;
  }
  .main-form form .default-btn {
    width: 100%;
  }
}

@media (min-width: 1800px) and (max-width: 2560px) {
  .team .team-wrapper {
    width: 55%;
  }
  .connection .connection-wrapper {
    width: 55%;
  }
  .feedback .feedback-text {
    width: 40%;
    margin-left: 20%;
  }
}

@media (max-width: 1250px) {
  .main-slider .slide-content h1 {
    width: 80%;
  }
  .main-slider .slide-content p {
    width: 70%;
  }
  .feedback .feedback-text {
    width: 50%;
  }
  .aboutus-wrapper p, .aboutus-wrapper .license-block, .aboutus-wrapper .column-text {
    width: 90%;
  }
  .gallery {
    height: 80vh;
  }
}

@media (max-width: 950px) {
  .main-slider {
    padding-bottom: 60px;
  }
  .main-slider .slick-dots {
    bottom: 12%;
    left: initial;
    right: 5%;
  }
  .main-slider .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-slider .slide-img {
    width: 100%;
  }
  .main-slider .slide-img img {
    min-height: 300px;
    height: 300px;
  }
  .main-slider .slide-content {
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
  }
  .main-slider .slide-content .action-btn {
    width: 18%;
  }
  .opportunities .opportunities-wrapper {
    width: 90%;
  }
  .possibilities .possibilities-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .possibilities .possibilities-descr {
    width: 90%;
  }
  .possibilities .possibilities-grid {
    width: 80%;
    margin-top: 50px;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team .team-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .team .team-slider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 70%;
  }
  .team .slick-dots {
    position: static;
    margin-top: 10px;
  }
  .team .team-descr {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .team .team-descr a {
    display: none;
  }
  .team .mob-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback .feedback-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback .feedback-img {
    width: 100%;
    height: 400px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feedback .feedback-img img {
    height: 100%;
  }
  .feedback .feedback-text {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
  }
  .connection .connection-wrapper {
    width: 90%;
  }
  .recent-news .news-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
  .news-page-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 8%;
  }
  .article h1, .article p {
    width: 90%;
  }
  .article .article-img {
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
  }
  .article .article-img img {
    min-height: 450px;
    max-height: 500px;
  }
  .article .transparent-btn {
    min-width: 35%;
    margin: 10% auto;
    margin-left: 5%;
  }
  .contact-wrapper {
    width: 90%;
  }
  .faq-tab .panel-heading, .faq-tab .panel-collapse, .faq-tab .panel-line {
    width: 100%;
  }
  .links-wrapper {
    width: 90%;
  }
  .links-wrapper span {
    width: 90%;
  }
  .testimonials-wrapper {
    width: 90%;
  }
  .programs-wrapper .program-description {
    width: 90%;
  }
  .open-program {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .open-program .program .program-name {
    width: 40%;
  }
  .new-program {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .program-wrapper p, .program-wrapper .certif-block {
    width: 100%;
  }
  .aboutus-wrapper {
    width: 90%;
  }
  .aboutus-wrapper p, .aboutus-wrapper .license-block, .aboutus-wrapper .column-text {
    width: 100%;
  }
  .aboutus-wrapper .aboutus-video {
    width: 100%;
  }
  .aboutus-wrapper .aboutus-video iframe {
    min-height: 370px;
    height: 370px;
  }
  .aboutus-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutus-title h2 {
    margin-bottom: 40px;
  }
  .aboutus-team .tabs-wrapper {
    width: 100%;
  }
  .aboutus-team .tabs-wrapper span {
    width: 90%;
  }
  .aboutus-team .tabs-wrapper .team-slide {
    width: 84%;
    margin-left: 16%;
  }
  .aboutus-mission .mission-content {
    width: 100%;
  }
  .gallery {
    height: 80vh;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .gallery a img {
    min-height: 250px;
    height: 250px;
  }
  img.mfp-img {
    width: 80vw !important;
  }
  .aboutus-testimonials .descr {
    width: 100%;
  }
  .feedback-slider .slick-slide {
    width: 550px !important;
  }
}

@media (max-width: 650px) {
  .program-page .page-name h2 {
    font-size: 3.2rem;
  }
  .aboutus-title h2 {
    font-size: 1.6rem;
  }
  .aboutus-wrapper p {
    font-size: 1rem;
    line-height: 30px;
  }
  .aboutus-wrapper .license-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aboutus-wrapper .license-block .license-text {
    width: 100%;
    margin-top: 20px;
  }
  .aboutus-wrapper .aboutus-video iframe {
    min-height: 170px;
    height: 170px;
  }
  .aboutus-wrapper .column-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutus-wrapper .column-text p {
    width: 100%;
  }
  .aboutus-team {
    padding: 50px 0;
  }
  .aboutus-team .tabs-wrapper .team-slide {
    width: 100%;
    margin-left: 0;
  }
  .aboutus-team .tabs-wrapper .slide-wrapper {
    padding: 30px 20px;
  }
  .aboutus-team .tabs-wrapper .slide-wrapper img {
    width: 85px;
    margin-bottom: 20px;
    margin-top: -60px;
    position: static;
  }
  .aboutus-team .tabs-wrapper .slide-wrapper .name {
    font-size: 1.2rem;
  }
  .aboutus-mission {
    padding: 50px 0;
  }
  .aboutus-mission .aboutus-title h2 {
    margin-bottom: 0;
  }
  .aboutus-team .tabs-wrapper {
    padding-top: 40px;
  }
  .aboutus-team .tabs-wrapper span {
    width: 100%;
    font-size: 1rem;
  }
  .gallery {
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gallery a img {
    min-height: 200px;
    height: 200px;
  }
  .aboutus-testimonials .aboutus-title h2 {
    margin-bottom: 0;
  }
  .feedback-slider .slick-slide {
    width: 300px !important;
  }
  .more-comments {
    width: 70%;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .main-slider .slick-dots {
    bottom: initial;
    top: 250px;
    left: 0;
    right: 0%;
  }
  .main-slider .slide-img img {
    min-height: 230px;
    height: 230px;
  }
  .main-slider .slide-content {
    margin-top: 20%;
  }
  .main-slider .slide-content p {
    width: 90%;
    font-size: 1rem;
    line-height: 25px;
  }
  .opportunities .opportunities-wrapper h2 {
    width: 90%;
  }
  .opportunities .opportunities-wrapper p {
    width: 95%;
    font-size: 1rem;
    line-height: 30px;
  }
  .possibilities .possibilities-descr {
    width: 100%;
  }
  .possibilities .possibilities-descr p {
    width: 95%;
    font-size: 1rem;
    line-height: 25px;
  }
  .possibilities .possibilities-grid {
    width: 100%;
    margin-top: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .possibilities .program .program-img img {
    width: 75px;
  }
  .possibilities .program a {
    font-size: 1.2rem;
  }
  .possibilities .transparent-btn {
    margin: 0 auto;
    margin-top: 50px;
  }
  .team .team-descr {
    width: 100%;
  }
  .team .team-descr p {
    width: 100%;
    font-size: 1rem;
  }
  .team .team-slider {
    width: 100%;
  }
  .team .slide-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .team .slide-wrapper img {
    width: 85px;
    margin-top: -50px;
    margin-bottom: 30px;
  }
  .team .slide-wrapper p, .team .slide-wrapper span {
    text-align: left;
  }
  .team .slide-wrapper .description {
    width: 100%;
    line-height: 25px;
  }
  .feedback .feedback-img {
    height: 200px;
  }
  .feedback .feedback-img img {
    min-height: 200px;
  }
  .feedback .feedback-text span {
    font-size: 1.2rem;
    line-height: 30px;
  }
  .feedback .feedback-text .transparent-btn {
    width: 100%;
    line-height: 24px;
    padding: 10px 14px;
  }
  .recent-news .news-wrapper {
    padding-bottom: 50px;
  }
  .recent-news .news-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .recent-news .transparent-btn {
    margin-bottom: 50px;
  }
  .news-page-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .article h1 {
    font-size: 1.5rem;
    line-height: 35px;
    letter-spacing: -0.02em;
  }
  .article p {
    font-size: 1rem;
    line-height: 30px;
  }
  .article .article-img {
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
  }
  .article .article-img img {
    min-height: 160px;
    max-height: 200px;
  }
  .article .transparent-btn {
    min-width: 65%;
    margin: 20% auto;
  }
  .map {
    width: 100%;
    height: 420px;
  }
  .contact-inf {
    padding: 50px 0 100px 0;
  }
  .contact-wrapper {
    margin: 0 auto;
  }
  .contact-wrapper p {
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
  }
  .contact-wrapper .contact-inf__block img {
    width: 32px;
    margin-right: 20px;
  }
  .contact-wrapper .contact-inf__block p, .contact-wrapper .contact-inf__block a {
    font-size: 1.1rem;
    line-height: 35px;
  }
  .faq-tab h3 {
    font-size: 1.8rem;
    line-height: 40px;
  }
  .faq-tab .panel-heading p {
    font-size: 1.2rem;
  }
  .faq-tab .panel-heading img {
    display: none;
  }
  .faq-tab .panel-collapse p {
    font-size: 1rem;
  }
  .links-wrapper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .links-wrapper img {
    width: 20px;
    margin-right: 8px;
    margin-top: 5px;
  }
  .links-wrapper a {
    font-size: 1.1rem;
  }
  .links-wrapper span {
    width: 100%;
  }
  .testimonials-wrapper {
    width: 90%;
    padding: 80px 0;
    padding-bottom: 40px;
  }
  .feedback-nav {
    width: 90%;
  }
  .programs-wrapper {
    padding: 50px 0;
  }
  .programs-wrapper .program-offer {
    font-size: 1.3rem;
  }
  .programs-wrapper .program-description {
    width: 100%;
  }
  .open-program .program .program-name {
    width: 80%;
  }
  .open-program .program .program-img img {
    width: 85px;
  }
  .open-program .program a {
    font-size: 1.1rem;
  }
  .open-program .program p {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .new-program {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .new-program .program .program-img img {
    width: 60px;
  }
  .new-program .program a {
    font-size: 0.95rem;
  }
  .program-page .page-name h2 {
    font-size: 2rem;
  }
  .program-page .page-name .enroll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .program-page .page-name .enroll span, .program-page .page-name .enroll .action-btn {
    width: 100%;
  }
  .program-page .page-name .enroll span {
    margin-bottom: 20px;
  }
  .program-page .page-name .enroll .action-btn {
    margin: 0;
  }
  .program-wrapper p {
    font-size: 1rem;
    line-height: 30px;
  }
  .program-wrapper .certif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .program-wrapper .certif-block span {
    margin-left: 0;
    margin-top: 20px;
  }
}
