html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body, html {
  overflow-x: hidden;
  color: #333333;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F7F9;
}

section {
  width: 100%;
  position: relative;
}

.container {
  width: 75%;
}

h1 {
  font-size: 3.8rem;
  line-height: 60px;
  letter-spacing: -0.05em;
  font-weight: normal;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 50px;
  letter-spacing: -0.05em;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.default-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 35px;
  padding: 8px 33px;
  letter-spacing: 0.03em;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.action-btn {
  background: #E41C0F;
  border: 1px solid #FB4539;
  -webkit-box-shadow: 0px 9px 17px rgba(251, 69, 57, 0.21);
          box-shadow: 0px 9px 17px rgba(251, 69, 57, 0.21);
  color: #fff;
}

.transparent-btn {
  background: transparent;
  border: 1px solid rgba(228, 28, 15, 0.3);
  color: #E41C0F;
}

.default-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.back-icon {
  position: absolute;
}

.back-icon img {
  width: 100%;
}

.default-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.default-navigation a {
  color: #333333;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 300;
  font-size: 2rem;
  line-height: 35px;
  letter-spacing: 0.03em;
  margin-right: 20px;
  padding: 2% 3%;
}

.default-navigation p {
  margin-right: 20px;
  padding: 2% 3%;
}

.default-navigation a:last-child {
  margin-right: 0;
}

.default-navigation a:hover {
  color: #000;
}

.default-navigation .nav-active {
  border: 3px solid #E41C0F;
  border-radius: 50%;
}

.main-form {
  width: 100%;
  background-color: #1B68C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 50px;
  padding-bottom: 55px;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
}

.main-form input, .main-form textarea {
  background: #F2F2F2;
  border-radius: 3px 3px 0px 0px;
  padding: 12px 20px;
  margin-bottom: 15px;
  width: 100%;
}

.main-form textarea {
  height: 100px;
  margin-bottom: 40px;
}

.main-form ::-webkit-input-placeholder {
  color: #333333;
}

.main-form :-ms-input-placeholder {
  color: #333333;
}

.main-form ::-ms-input-placeholder {
  color: #333333;
}

.main-form ::placeholder {
  color: #333333;
}

.main-form .form-text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -5%;
}

.main-form .form-text h2 {
  width: 90%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.main-form .form-text p {
  width: 90%;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  color: #D8E6F7;
}

.program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.program .program-img {
  margin-right: 10px;
}

.program .program-img img {
  width: 55px;
}

.program .program-name {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.program a {
  font-size: 1rem;
  line-height: 22px;
  color: #333333;
}

.program p {
  font-size: 0.8rem;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #1B68C2;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.news-block .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-block .news-link img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 170px;
  margin-bottom: 20px;
}

.news-block .news-link h1, .news-block .news-link h4 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.news-block span {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin-bottom: 15px;
}

.news-block .continue {
  font-weight: 500;
  font-size: 1rem;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  border-bottom: 1px solid #E41C0F;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 60px 90px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 9px 17px rgba(196, 201, 204, 0.08);
          box-shadow: 0px 9px 17px rgba(196, 201, 204, 0.08);
  border-radius: 5px;
  width: 100%;
}

.feedback-block img {
  top: -20px;
  left: -25px;
  position: absolute;
}

.feedback-block .feedback-block__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 20px;
}

.feedback-block .feedback-block__author {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: right;
}

.team-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 50px;
}

.page-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1B68C2;
  position: relative;
}

.page-description .icon-1 {
  width: 20%;
  left: -8%;
  top: -10%;
}

.page-description .icon-2 {
  width: 12%;
  top: 0;
  left: 53%;
}

.page-description .icon-3 {
  width: 10%;
  left: 45%;
  top: 65%;
}

.page-description .page-name {
  width: 60%;
  margin-left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}

.page-description .page-name h1 {
  width: 90%;
  font-size: 4rem;
  line-height: 65px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.page-description .page-name span {
  width: 80%;
  margin-top: 25px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 30px;
  color: #D8E6F6;
}

.page-description .page-name .enroll {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: 25px;
}

.page-description .page-name .enroll span {
  margin-top: 0;
  width: 60%;
  font-weight: 500;
  color: #fff;
}

.page-description .page-name .enroll .action-btn {
  margin-right: 10%;
}

.page-description .page-img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 270px;
  max-height: 460px;
}

.page-description .page-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-margin {
  width: 100%;
  z-index: 2;
}

header {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.header-contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__tel p {
  margin-right: 10px;
  color: #828282;
  font-weight: 300;
  font-size: 0.8rem;
}

.header-contacts__tel p span {
  font-weight: 400;
}

.header-contacts__telNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__telNumbers img {
  margin-right: 5px;
}

.header-contacts__telNumbers a {
  font-size: 0.9rem;
  line-height: 17px;
  color: #4F4F4F;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 40px 0;
}

.header-wrapper .header-logo {
  width: 20%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 20px;
}

.header-wrapper .header-logo img {
  width: 100%;
}

.header-wrapper .header-info {
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-wrapper .header-contacts {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header-contacts .header-contacts__dropdown {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .header-contacts .header-contacts__dropdown .earth-icon {
  margin-right: 5px;
}

.header-wrapper .header-contacts .header-contacts__dropdown .arrow-icon {
  margin-left: 3px;
}

.header-wrapper .header-contacts .header-contacts__dropdown select {
  font-size: 0.9rem;
  color: #4F4F4F;
}

.header-wrapper nav {
  width: 100%;
  margin-top: 40px;
}

.header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper nav a {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 21px;
  color: #333333;
  padding: 8px 0;
  position: relative;
}

.header-wrapper nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px;
  background: #E41C0F;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header-wrapper nav a:hover::after,
.header-wrapper nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header-wrapper nav .currentLink::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  top: 100%;
}

.header-wrapper nav .currentLink:hover::after,
.header-wrapper nav .currentLink:focus::after {
  top: 100%;
  -webkit-transform: none;
          transform: none;
}

.header-wrapper .mobile_menu {
  display: none;
}

.mobile {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.mobile .close_mob_menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mobile .close_mob_menu img {
  width: 15px;
  height: 15px;
}

.mobile .wrap {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: right;
}

.mobile .logo {
  width: 50%;
  margin-top: 10px;
}

.mobile .logo img {
  width: 100%;
}

.mobile .mob_wrap {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mobile li {
  margin-bottom: 20px;
}

.mobile a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;
  color: #333333;
  padding: 8px 0;
  position: relative;
}

.mobile .header-contacts__tel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile .header-contacts__telNumbers img {
  display: none;
}

.mobile .header-contacts__telNumbers a {
  font-size: 0.9rem;
  line-height: 17px;
  color: #4F4F4F;
}

.mobile .header-contacts__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile .header-contacts__dropdown .earth-icon {
  margin-right: 0px;
}

.mobile .header-contacts__dropdown select {
  margin: 5px auto;
}

.active {
  right: 0%;
}

.header-scroll .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 20px 0;
}

.header-scroll .header-wrapper .header-logo {
  width: 16%;
  margin-top: 0;
}

.header-scroll .header-wrapper .header-contacts {
  display: none;
}

.header-scroll .header-wrapper nav {
  margin-top: 0;
}

footer {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #333333;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0 40px 0;
}

.footer-wrapper a, .footer-wrapper p {
  font-weight: 300;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-wrapper .footer-logo {
  width: 16%;
}

.footer-wrapper .footer-logo img {
  width: 100%;
}

.footer-wrapper .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer-wrapper .footer-contacts__infblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .footer-contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper .footer-contacts__socials a {
  margin-right: 20px;
}

.footer-wrapper .footer-contacts__socials a:last-child {
  margin-right: 0;
}

.footer-wrapper .footer-contacts__socials .fab {
  font-size: 28px;
  color: #fff;
}

.footer-wrapper .footer-rigts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer-wrapper .footer-rigts p, .footer-wrapper .footer-rigts a {
  font-size: 0.8rem;
}

.footer-wrapper .footer-rigts img {
  margin-left: 10px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.main-slider {
  z-index: 5;
  width: 100%;
}

.main-slider .slide {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.main-slider .slick-initialized .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.main-slider .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 56%;
  width: auto;
}

.main-slider .slick-dots li {
  margin: 2px;
}

.main-slider .slick-dots li button:before {
  font-size: 12px;
  color: #1B68C2;
}

.main-slider .slick-dots .slick-active button:before {
  color: #E41C0F;
}

.main-slider .slide-img {
  width: 50%;
}

.main-slider .slide-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 520px;
}

.main-slider .slide-content {
  margin-top: 5%;
  margin-left: 6%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slider .slide-content h1 {
  width: 60%;
  color: #1B68C2;
  margin-bottom: 20px;
}

.main-slider .slide-content p {
  width: 55%;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 40px;
}

.opportunities {
  background-color: #1B68C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunities .icon-1 {
  width: 20%;
  left: -4%;
  top: -10%;
}

.opportunities .icon-2 {
  width: 15%;
  left: -6%;
  bottom: -20%;
}

.opportunities .icon-3 {
  width: 8%;
  left: 15%;
  top: 60%;
}

.opportunities .icon-4 {
  width: 15%;
  right: 10%;
  top: -10%;
}

.opportunities .icon-5 {
  width: 16%;
  right: 18%;
  bottom: -12%;
}

.opportunities .icon-6 {
  width: 30%;
  right: -20%;
  top: 15%;
}

.opportunities .opportunities-wrapper {
  padding: 80px 0 100px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opportunities .opportunities-wrapper h2 {
  color: #fff;
  margin-bottom: 20px;
  width: 80%;
}

.opportunities .opportunities-wrapper span {
  font-weight: 500;
}

.opportunities .opportunities-wrapper p {
  width: 90%;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 30px;
  color: #D8E6F7;
}

.opportunities .opportunities-wrapper p span {
  font-weight: 400;
  padding-bottom: 1px;
  border-bottom: 1px solid #E41C0F;
  color: #fff;
}

.possibilities {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.possibilities .possibilities-wrapper {
  padding: 80px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.possibilities .possibilities-descr {
  width: 40%;
}

.possibilities .possibilities-descr h3 {
  margin-bottom: 20px;
}

.possibilities .possibilities-descr p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  color: #4F4F4F;
}

.possibilities .possibilities-grid {
  width: 55%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.possibilities .transparent-btn {
  margin-top: 40px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .icon-1 {
  width: 20%;
  left: -10%;
  top: 10%;
}

.team .icon-2 {
  width: 10%;
  left: 10%;
  bottom: -10%;
}

.team .icon-3 {
  width: 10%;
  right: -5%;
  top: -5%;
}

.team .icon-4 {
  width: 20%;
  right: -10%;
  bottom: -10%;
}

.team .team-wrapper {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 130px 0;
}

.team .slick-dots {
  position: absolute;
  bottom: -15%;
}

.team .slick-dots li {
  margin: 2px;
}

.team .slick-dots li button:before {
  font-size: 12px;
  color: #1B68C2;
}

.team .slick-dots .slick-active button:before {
  color: #E41C0F;
}

.team .team-slider {
  width: 50%;
}

.team .slide-wrapper {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 45px;
}

.team .slide-wrapper p, .team .slide-wrapper span {
  text-align: center;
}

.team .slide-wrapper img {
  width: 220px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.team .slide-wrapper .name {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.team .slide-wrapper .position {
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  color: #1B68C2;
  margin-bottom: 20px;
}

.team .slide-wrapper .description {
  width: 85%;
  font-weight: 300;
  font-size: 1rem;
  line-height: 20px;
  color: #828282;
}

.team .team-descr {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .team-descr h3 {
  margin-bottom: 20px;
}

.team .team-descr p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  color: #4F4F4F;
  margin-bottom: 60px;
}

.team .team-descr .transparent-btn {
  width: 70%;
}

.team .mob-btn {
  display: none;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feedback {
  background-color: #fff;
}

.feedback .feedback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .feedback-text {
  width: 40%;
  margin-left: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.feedback .feedback-text img {
  width: 80px;
  position: absolute;
  left: -8%;
  top: 18%;
}

.feedback .feedback-text h3 {
  margin-bottom: 15px;
}

.feedback .feedback-text span {
  font-style: italic;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 40px;
  color: #4F4F4F;
  margin-bottom: 60px;
}

.feedback .feedback-img {
  width: 45%;
  height: 100%;
}

.feedback .feedback-img img {
  min-height: 400px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.connection .connection-wrapper {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connection h3 {
  margin-bottom: 20px;
}

.connection .connection-companies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection .connection-companies .company {
  margin-right: 20px;
  margin-bottom: 10px;
}

.recent-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-news .news-wrapper {
  padding: 100px 0;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-news h3 {
  margin-bottom: 30px;
}

.recent-news .news-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 6%;
          column-gap: 6%;
}

.recent-news .transparent-btn {
  margin: 0 auto;
  margin-bottom: 6%;
}

.blog-page h2 {
  width: 90%;
  font-size: 4rem;
  line-height: 65px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.news-page-grid {
  margin-top: 70px;
  margin-bottom: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 7%;
}

.news-nav {
  margin-bottom: 100px;
}

.article {
  width: 100%;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.article h1, .article p {
  width: 50%;
  margin: 0 auto;
}

.article h1 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 50px;
  letter-spacing: -0.02em;
}

.article p {
  padding-top: 45px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 35px;
  letter-spacing: -0.02em;
}

.article .article-img {
  width: 60%;
  margin: 0 auto;
  margin-top: 45px;
}

.article .article-img img {
  min-height: 500px;
  max-height: 600px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article .transparent-btn {
  margin: 10% auto;
  margin-left: 25%;
}

.map {
  width: 100%;
  height: 450px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.contact-inf {
  width: 100%;
  background-color: #fff;
  padding: 50px 0 150px 0;
}

.contact-wrapper {
  width: 50%;
  margin: 0 auto;
}

.contact-wrapper p {
  width: 80%;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 35px;
  letter-spacing: -0.02em;
}

.contact-wrapper .contact-inf__block {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-wrapper .contact-inf__block img, .contact-wrapper .contact-inf__block svg {
  width: 45px;
  margin-right: 40px;
}

.contact-wrapper .contact-inf__block svg {
  stroke: #E41C0F;
}

.contact-wrapper .contact-inf__block p, .contact-wrapper .contact-inf__block a {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 35px;
  letter-spacing: -0.02em;
  color: #333333;
}

.contact-wrapper .contact-inf__block .contact-inf__mail {
  font-weight: 400;
  border-bottom: 1px solid #FB4539;
}

.faq {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 140px;
}

.faq-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 70px;
}

.faq-tab h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.faq-tab .panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.faq-tab .panel-heading p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #333333;
}

.faq-tab .panel-heading img {
  width: 15px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.faq-tab .panel-heading .active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-tab .panel-collapse {
  width: 75%;
  display: none;
  padding-top: 10px;
}

.faq-tab .panel-collapse p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  color: #4F4F4F;
}

.faq-tab .panel-line {
  width: 75%;
  height: 1px;
  background: #D8E6F6;
  margin-bottom: 20px;
  margin-top: 20px;
}

.useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-wrapper {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
  padding-bottom: 80px;
}

.links-wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links-wrapper li {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.links-wrapper img {
  width: 28px;
  margin-right: 12px;
}

.links-wrapper a {
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 30px;
  color: #333333;
  padding-bottom: 3px;
  position: relative;
}

.links-wrapper a::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #FB4539;
}

.links-wrapper span {
  display: inline-block;
  width: 50%;
  margin-top: 12px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-wrapper {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 90px 0;
}

.feedback-nav {
  width: 50%;
  margin-bottom: 80px;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-programs {
  background-color: #fff;
}

.programs-wrapper {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs-wrapper .program-offer {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.programs-wrapper .program-description {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 30px;
  width: 55%;
}

.program-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
}

.open-program {
  width: 90%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.open-program .program .program-img img {
  width: 120px;
}

.open-program .program a {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.open-program .program p {
  font-size: 1rem;
  font-weight: 300;
}

.new-program {
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 50px;
}

.new-program .program .program-img img {
  width: 85px;
}

.new-program .program a {
  font-size: 1.1rem;
}

.new-program .program p {
  display: none;
}

.program-text {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
}

.program-wrapper p {
  width: 70%;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 35px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.program-wrapper .certif-block {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 0;
  margin-left: 30px;
}

.program-wrapper .certif-block img {
  width: 75px;
}

.program-wrapper .certif-block span {
  margin-left: 30px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 35px;
  letter-spacing: -0.02em;
}

.aboutus-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.aboutus-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

.aboutus-wrapper p, .aboutus-wrapper .license-block, .aboutus-wrapper .column-text {
  width: 80%;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 35px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.aboutus-wrapper p:first-child {
  margin-bottom: 0;
}

.aboutus-wrapper .license-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus-wrapper .license-block img {
  width: 165px;
}

.aboutus-wrapper .license-block .license-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 78%;
}

.aboutus-wrapper .license-block span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}

.aboutus-wrapper .license-block p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.aboutus-wrapper .license-block a {
  color: #333333;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px solid #E41C0F;
}

.aboutus-wrapper .column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.aboutus-wrapper .column-text p {
  width: 40%;
  font-size: 1.1rem;
}

.col-text {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video {
  background-color: #fff;
}

.aboutus-video {
  margin-left: 12%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.aboutus-video iframe {
  width: 100%;
  min-height: 500px;
  height: 500px;
}

.aboutus-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus-title h2 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 40px;
}

.aboutus-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  position: relative;
}

.aboutus-team .icon-1 {
  width: 13%;
  left: -3%;
  top: 7%;
}

.aboutus-team .icon-2 {
  width: 8%;
  left: 8%;
  top: 34%;
}

.aboutus-team .icon-3 {
  width: 13%;
  left: 7%;
  top: 60%;
}

.aboutus-team .icon-4 {
  width: 24%;
  left: 0%;
  bottom: 2%;
}

.aboutus-team .icon-5 {
  width: 11%;
  right: 1%;
  top: 2%;
}

.aboutus-team .icon-6 {
  width: 24%;
  right: -5%;
  top: 16%;
}

.aboutus-team .icon-7 {
  width: 8%;
  right: 10%;
  bottom: 42%;
}

.aboutus-team .icon-8 {
  width: 12%;
  right: -4%;
  bottom: 20%;
}

.aboutus-team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.aboutus-team .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus-team .buttons .tab-btn {
  background-color: transparent;
  border: 1px solid #1B68C2;
  width: 160px;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

.aboutus-team .buttons .instructors-btn {
  border-radius: 100px 0px 0px 100px;
}

.aboutus-team .buttons .management-btn {
  border-radius: 0px 100px 100px 0px;
}

.aboutus-team .buttons .active {
  background-color: #1B68C2;
  color: #fff;
}

.aboutus-team .tabs-wrapper {
  z-index: 10;
  width: 80%;
  padding-top: 80px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus-team .tabs-wrapper span {
  width: 70%;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 30px;
}

.aboutus-team .tabs-wrapper .team-tab {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus-team .tabs-wrapper .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus-team .tabs-wrapper .slide-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 100px;
}

.aboutus-team .tabs-wrapper .slide-wrapper img {
  width: 150px;
  position: absolute;
  top: 40px;
  left: -100px;
}

.aboutus-team .tabs-wrapper .slide-wrapper .name {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 25px;
  margin-bottom: 10px;
}

.aboutus-team .tabs-wrapper .slide-wrapper .position {
  width: 100%;
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 20px;
  color: #1B68C2;
  margin-bottom: 40px;
}

.aboutus-team .tabs-wrapper .slide-wrapper .description {
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 10px;
}

.aboutus-mission {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus-mission .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus-mission .mission-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.aboutus-mission .mission-content p {
  width: 90%;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 35px;
  letter-spacing: -0.02em;
}

.aboutus-mission .mission-content ul {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 55px;
}

.aboutus-mission .mission-content li {
  display: block;
  margin-bottom: 30px;
  width: 88%;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
  position: relative;
}

.aboutus-mission .mission-content li::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: ' ';
  margin-top: 10px;
  width: 25px;
  height: 5px;
  background-color: #E41C0F;
}

.aboutus-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.aboutus-gallery .transparent-btn {
  margin: 0 auto;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.gallery a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F1F7F9), color-stop(34.37%, rgba(242, 248, 250, 0.79)), to(rgba(243, 251, 253, 0)));
  background: linear-gradient(0deg, #F1F7F9 0%, rgba(242, 248, 250, 0.79) 34.37%, rgba(243, 251, 253, 0) 100%);
}

.gallery .shadow-hidden {
  display: none;
}

.gallery-open {
  height: 100% !important;
}

img.mfp-img {
  width: 60vw !important;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

.aboutus-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus-testimonials .descr {
  width: 70%;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 35px;
  letter-spacing: -0.02em;
  margin-top: 40px;
}

.feedback-slider {
  width: 100%;
}

.feedback-slider .slick-list {
  margin: 0 -25px;
}

.feedback-slider .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 650px !important;
  margin: 50px 25px;
}

.more-comments {
  margin: 0 auto;
  margin-bottom: 80px;
}
