// Colors
$mainBlue       :#1B68C2;
$lightBlue      :#F1F7F9;
$lightWhite     :#D8E6F6;
$mainRed        :#E41C0F;
$lightRed       :#FB4539;
$grey           :#333333;
$green          :#126A7D;
$orange         :#F3801A;

$mainFont       :'Rubik', sans-serif;
$mainFontSize   :100%;