@import '_vars.scss';
@import '_reset.scss';
// container
.container{
    @media (max-width: 1000px){
        width: 90%;
    }
}
// header 
header{
    @media (max-width: 1360px){
        .header-wrapper .header-info{
            width: 70%;
        }
        .header-wrapper .header-contacts {
            width: 100%;
            .header-contacts__tel{
                flex-direction: column;
                align-items: flex-start;
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.header-scroll{
    @media (max-width: 1000px){
        .header-wrapper .header-logo{
           width: 20%;
       }
       .header-wrapper .header-info{
           width: 72%;
       }
       .header-wrapper nav a {
            font-size: 0.9rem;
        }
    }
    @media (max-width: 650px){
        .header-wrapper{
            padding: 10px 0;
        }
        .header-wrapper .header-logo{
            width: 30%;
        }
        .header-wrapper .header-info{
            display: none;
        }
        .mobile_menu{
            display: flex;
        }
         // burg
        .mobile_menu {
            display: flex;
            cursor: pointer;
            width: 20px;
            flex-direction: column;
        }
        .burg {
            width: 100%;
            height: 2px;
            margin-bottom: 3px;
            box-sizing: border-box;
            background-color: $grey;
        }
        .burg:last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: 400px){
        .header-wrapper .header-logo{
            width: 45%;
        }
    }
}
