@import '_vars.scss';
@import '_reset.scss';

// MAIN BLOCK SETTINGS
@media (max-width: 1000px){
    // container
    .container{
        width: 90%;
    }

    // page descr
    .page-description{
        .page-name{
            width: 100%;
            margin-left: 5%;
            margin-right: 5%;
            padding: 90px 0;      
        }
        .page-img{
            display: none;
        }
    }
}
@media (max-width: 500px){
    .page-description{
        .page-name{
            padding: 30px 0;   
            h2{
                font-size: 2rem;
                line-height: 35px;
                letter-spacing: -0.05em;
            }   
            span{
                width: 100%;
                font-size: 1rem;
            }
        }
    }
    // titles
    h1{
        font-size: 2rem;
        line-height: 35px;
    }
    h2{
        font-size: 1.5rem;
        line-height: 30px;
    }
    h3{
        font-size: 1.2rem;
        line-height: 30px;
        font-weight: 500;
    }
    // navigation
    .default-navigation{
        a{
            font-size: 1.2rem;
            line-height: 30px;
            letter-spacing: 0.03em;
            margin-right: 10px;
            padding: 1% 4%;
        }
        p{
            margin-right: 10px;
            padding: 1% 4%;
        }
    }
    // feedback block
    .feedback-block{
        padding: 30px 20px;
        margin-bottom: 35px;
        img{
            top: -25px;
            left: 20px;
            position: absolute;
            width: 70px;
        }
    }
}
// header 
header{
    @media (max-width: 1360px){
        .header-wrapper .header-info{
            width: 70%;
        }
        .header-wrapper .header-contacts {
            width: 100%;
            .header-contacts__tel{
                flex-direction: column;
                align-items: flex-start;
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.header-scroll{
    @media (max-width: 1000px){
        .header-wrapper .header-logo{
           width: 20%;
       }
       .header-wrapper .header-info{
           width: 72%;
       }
       .header-wrapper nav a {
            font-size: 0.9rem;
        }
    }
    @media (max-width: 650px){
        .header-wrapper{
            padding: 10px 0;
        }
        .header-wrapper .header-logo{
            width: 30%;
        }
        .header-wrapper .header-info{
            display: none;
        }
        .mobile_menu{
            display: flex;
        }
         // burg
        .mobile_menu {
            display: flex;
            cursor: pointer;
            width: 20px;
            flex-direction: column;
        }
        .burg {
            width: 100%;
            height: 2px;
            margin-bottom: 3px;
            box-sizing: border-box;
            background-color: $grey;
        }
        .burg:last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: 400px){
        .header-wrapper .header-logo{
            width: 45%;
        }
    }
}
// footer
footer{
    @media (max-width: 1000px){
        .footer-wrapper .footer-logo {
            width: 20%;
        }
        .footer-wrapper .footer-contacts{
            width: 100%;
        }
        .footer-wrapper .footer-contacts__socials{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 650px){
        .footer-wrapper{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .footer-logo{
                width: 40%;
            }
            .footer-contacts{
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .footer-contacts__infblock{
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: 20px;
            }
            .footer-contacts__socials{
                display: flex;
            }
            .footer-rigts{
                flex-direction: column;
                p{
                    margin-bottom: 30px;
                }
                a{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    img{
                        margin: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 450px){
        .footer-wrapper{
            .footer-logo{
                width: 60%;
            }
        }
    }
}
// form block
@media (max-width: 950px){
    .main-form .form-wrapper{
        flex-direction: column;
    }
    .main-form .form-text {
        width: 100%;
        order:1;
        margin-bottom: 50px;
        h2{
            width: 60%;
        }
        p{
            width: 70%;
        }
    }
    .main-form form{
        order:2;
        width: 80%;
    }
}
@media (max-width: 500px){
    .main-form .form-text {
        h2{
            width: 100%;
        }
        p{
            width: 100%;
        }
    }
    .main-form form{
        order:2;
        width: 100%;
        padding: 40px 20px;
        .default-btn{
            width: 100%;
        }
    }
}

// index page 
@media (max-width: 1250px){
    // slider
    .main-slider .slide-content h1 {
        width: 80%;
    }
    .main-slider .slide-content p {
        width: 70%;
    }
    // feedback
    .feedback .feedback-text {
        width: 50%;
    }
}

@media (max-width: 950px){
    // SLIDER
    .main-slider{
        padding-bottom: 60px;
        // dots
        .slick-dots {
            bottom: 12%;
            left: initial;
            right: 5%;
        }
        .slide{
            flex-direction: column;
        }
        // img
        .slide-img {
            width: 100%;
            img{
                min-height: 300px;
                height: 300px;
            }
        }
        // content
        .slide-content {
            margin-top: 5%;
            margin-left: 5%;
            width: 100%;
            .action-btn {
                width: 18%;
            }
        }
    }
    // OPPORTUNITIES BLOCK
    .opportunities{
        .opportunities-wrapper{
            width: 90%;
        }
    }
    // POSSIBILITIES BLOCK
    .possibilities{
        .possibilities-wrapper {
            flex-direction: column;
        }
        .possibilities-descr {
            width: 90%;
         }
         .possibilities-grid {
             width: 80%;
             margin-top: 50px;
         }
    }
    // TEAM BLOCK
    .team{
        display: flex;
        flex-direction: column;
        .team-wrapper {
            width: 90%;
            flex-direction: column;
            padding-bottom: 40px;
        }
        .team-slider{
            order:2;
            width: 70%;
        }
        .slick-dots{
            position: static;
            margin-top: 10px;
        }
        .team-descr {
            width: 90%;
            order:1;
            a{
                display: none;
            }
        }
        .mob-btn{
            display: flex;
        }
    }
    // FEEDBACK BLOCK
    .feedback {
        .feedback-wrapper{
            flex-direction: column;
        }
        .feedback-img {
            width: 100%;
            height: 400px;
            order:1;
            img{
                height: 100%;
            }
        }
        .feedback-text {
            margin-top: 50px;
            margin-bottom: 100px;
            width: 80%;
            order:2;
            margin-left: 0;
        }
    }
    // CONNECTION
    .connection{
        .connection-wrapper{
            width: 90%;
        }
    }
    // RECENT NEWS
    .recent-news .news-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }


    // NEWS PAGE
    .news-page-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 8%;
    }
    // ARTICLE PAGE
    .article{
        h1,p{
            width: 90%;
        }
        .article-img{
            width: 100%;
            margin: 0 auto; 
            margin-top: 45px;
            img{
                min-height: 450px;
                max-height: 500px;
            }
        }
        .transparent-btn{
            min-width: 35%;
            margin: 10% auto;
            margin-left: 5%;
        }
    }
    // CONTACT PAGE
    .contact-wrapper{
        width: 90%;
    }
    // FAQ PAGE
    .faq-tab{
        .panel-heading, .panel-collapse, .panel-line{
            width: 100%;
        }
    }
    // USEFUL LINKS PAGE
    .links-wrapper{
        width: 90%;
        span{
            width: 90%;
        }
    }
    // FEEDBACK PAGE 
    .testimonials-wrapper{
        width: 90%;
    }
}
@media (max-width: 500px){
    // SLIDER
    .main-slider{
        // dots
        .slick-dots {
            bottom: initial;
            top: 250px;
            left: 0;
            right: 0%;
        }
        // img
        .slide-img {
            img{
                min-height: 230px;
                height: 230px;
            }
        }
        // content
        .slide-content {
            margin-top: 20%;
            p {
                width: 90%;
                font-size: 1rem;
                line-height: 25px;      
            }
        }
    }
    // OPPORTUNITIES
    .opportunities{
        .opportunities-wrapper{
            h2{
                width: 90%;
            }
            p{
                width: 95%;
                font-size: 1rem;
                line-height: 30px;
            }
        }
    }
    // POSSIBILITIES
    .possibilities{
        .possibilities-descr{
            width: 100%;
            p{
                width: 95%;
                font-size: 1rem;
                line-height: 25px;
            }
        }
        .possibilities-grid {
            width: 100%;
            margin-top: 50px;
            grid-template-columns: 1fr;
            grid-row-gap: 50px;
        }
        // program img
        .program .program-img img {
            width: 75px;
        }
        .program a {
            font-size: 1.2rem;
        }
        // btn
        .transparent-btn {
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    // TEAM BLOCK
    .team{
        .team-descr {
            width: 100%;
                p {
                    width: 100%;
                    font-size: 1rem;
            }
        }
        .team-slider {
            width: 100%;
        }
        .slide-wrapper{
            align-items: flex-start;
            img {
                width: 85px;
                margin-top: -50px;
                margin-bottom: 30px;
            }
            p, span{
                text-align: left;
            }
            .description{
                width: 100%;
                line-height: 25px;
            }
        }
    }
    //  FEEDBACK
    .feedback{
        .feedback-img {
            height: 200px;
            img{
                min-height: 200px;
            }
        }
        .feedback-text{
            span {
                font-size: 1.2rem;
                line-height: 30px;
            }
            .transparent-btn {
                width: 100%;
                line-height: 24px;
                padding: 10px 14px;
            }
        }
    }
    // RECENT NEWS
    .recent-news .news-wrapper{
        padding-bottom: 50px;
    }
    .recent-news .news-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
    .recent-news .transparent-btn{
        margin-bottom: 50px;
    }

    // NEWS PAGE
    .news-page-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
    // ARTICLE PAGE
    .article{
        h1{
            font-size: 1.5rem;
            line-height: 35px;
            letter-spacing: -0.02em;
        }
        p{
            font-size: 1rem;
            line-height: 30px;
        }
        .article-img{
            width: 100%;
            margin: 0 auto; 
            margin-top: 45px;
            img{
                min-height: 160px;
                max-height: 200px;
            }
        }
        .transparent-btn{
            min-width: 65%;
            margin: 20% auto;
        }
    }
     // CONTACT PAGE
     .map{
        width: 100%;
        height: 420px;
    }
    .contact-inf{
        padding: 50px 0 100px 0;
    }
    .contact-wrapper{
        margin: 0 auto; 
        p{
            width: 100%;
            font-size: 1rem;
            line-height: 30px;
        }
        .contact-inf__block{
            img{
                width: 32px;
                margin-right: 20px;
            }
            p, a{
                font-size: 1.1rem;
                line-height: 35px;
            }
        }
    }
     // FAQ PAGE
     .faq-tab{
        h3{
            font-size: 1.8rem;
            line-height: 40px;
        }
        .panel-heading{
            p{
                font-size: 1.2rem;
            }
            img{
                display: none;
            }
        }
        .panel-collapse {
            p{
                font-size: 1rem;
            }
        }
    }
    // USEFUL LINKS PAGE
    .links-wrapper{
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
        img{
            width: 20px;
            margin-right: 8px;
            margin-top: 5px;
        }
        a{
            font-size: 1.1rem;
        }
        span{
            width: 100%;
        }
    }
     // FEEDBACK PAGE 
     .testimonials-wrapper{
        width: 90%;
        padding: 80px 0;
        padding-bottom: 40px;
    }
    .feedback-nav {
        width: 90%;
    }
}