@import '_vars.scss';
@import '_reset.scss';
@import '_utils.scss';

*{
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}
//MAIN SETTINGS
body, html{
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $lightBlue;
}
section{
    width: 100%;
    position: relative;
}
.container{
    width: 75%;
}
h1{
    font-size: 3.8rem;
    line-height: 60px;
    letter-spacing: -0.05em;
    font-weight: normal;
}
h2{
    font-weight: 400;
    font-size: 2rem;
    line-height: 50px;
    letter-spacing: -0.05em;
}
h3{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: -0.02em;
}
// BUTTONS
.default-btn{
    @include default-btn();
}
.action-btn{
    @include action-btn();
}
.transparent-btn{
    @include transparent-btn();
}
.default-btn:hover{
    transform: scale(1.1);
}
// ELEMENTS
.back-icon{
    position: absolute;
    img{
        width: 100%;
    }
}
// BLOCKS
// main form
.main-form{
    width: 100%;
    background-color: $mainBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 65px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 45%;
        align-items: center;
        justify-content: center;
        padding: 40px 50px;
        padding-bottom: 55px;
        background-color: #fff;
    }
    input, textarea{
        background: #F2F2F2;
        border-radius: 3px 3px 0px 0px;
        padding: 12px 20px;
        margin-bottom: 15px;
        width: 100%;
    }
    textarea{
        height: 100px;
        margin-bottom: 40px;
    }
    ::-webkit-input-placeholder {
        color: $grey;
      }
    ::-moz-placeholder {
        color: $grey;
      }
    :-ms-input-placeholder {
        color: $grey;
      }
    ::-ms-input-placeholder {
        color: $grey;
      }
    ::placeholder {
        color: $grey;
      }
    .form-text{
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-top: -5%;
        h2{
            width: 90%;
            font-weight: 500;
            color:#fff;
            margin-bottom: 20px;
        }
        p{
            width: 90%;
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 30px;
            color: #D8E6F7;
        }
    }
}
// program block
.program{
    display: flex;
    align-items: center;
    .program-img{
        margin-right: 10px;
        img{
            width: 55px;
        }
    }
    .program-name{
        display: flex;
        flex-direction: column;
    }
    a{
        font-size: 1rem;
        line-height: 22px;
        color: $grey;
    }
    p{
        font-size: 0.8rem;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: $mainBlue;
    }
}
// news block
.news-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    .news-link{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            height: 150px;
            margin-bottom: 20px;
        }
        h4{
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 30px;
            letter-spacing: 0.03em;
            color: #000000;
            margin-bottom: 20px;
        }
    }
    span{
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
        margin-bottom: 15px;
    }
    .continue{
        font-weight: 500;
        font-size: 1rem;
        line-height: 35px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
        border-bottom: 1px solid $mainRed;
        display: inline-block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}
// page descroption block
.page-description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainBlue;
    position: relative;
    // icons
    .icon-1{
        width: 20%;
        left: -8%;
        top: -10%;
    }
    .icon-2{
        width: 12%;
        top: 0;
        left: 53%;
    }
    .icon-3{
        width: 10%;
        left: 45%;
        top: 65%;
    }
    .page-name{
        width: 60%;
        margin-left: 12%;
        h2{
            font-size: 4rem;
            line-height: 60px;
            letter-spacing: -0.05em;
            color: #FFFFFF;
        }
    }
    .page-img{
        width: 40%;
        img{
            min-height: 270px;
            max-height: 270px;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
}
// HEADER
.header-margin{
    width: 100%;
    z-index: 2;
}
header{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
// tel
.header-contacts__tel{
    display: flex;
    align-items: center;
    p{
        margin-right: 10px;
        color:#828282;
        font-weight: 300;
        font-size: 0.8rem;
        span{
            font-weight: 400;
        }
    }
}
.header-contacts__telNumbers{
    display: flex;
    align-items: center;
    img{
        margin-right: 5px;
    }
    a{
        font-size: 0.9rem;
        line-height: 17px;
        color:#4F4F4F;
    }
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 40px 0;
    // logo
    .header-logo{
        width: 20%;
        align-self: flex-end;
        margin-top: 20px;
        img{
            width: 100%;
        }
    }
    // info
    .header-info{
        width: 64%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .header-contacts{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-contacts__dropdown{
            justify-self: end;
            display: flex;
            align-items: center;
            .earth-icon{
                margin-right: 5px;
            }
            .arrow-icon{
                margin-left: 3px;
            }
            select{
                font-size: 0.9rem;
                color:#4F4F4F;
            }
        }
    }
    
    // nav
    nav{
        width: 100%;
        margin-top: 40px;
        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        a{
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 21px;
            color: $grey;
            padding: 8px 0;
            position: relative;
        }
        a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background: $mainRed;
            content: '';
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: translateY(10px);
        }
         a:hover::after,
         a:focus::after {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    // burger
    .mobile_menu{
        display: none;
    }
}
// mob wrap
.mobile {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 250;
    transition: all 0.35s;
}
.mobile .close_mob_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.mobile .close_mob_menu img {
    width: 15px;
    height: 15px;
}
.mobile{
    .wrap {
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        justify-content: flex-start;
        float: right;
    }
    .logo{
      width: 50%;
      margin-top: 10px;
      img{
        width: 100%;
      }
    }
    .mob_wrap{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    li{
        margin-bottom: 20px;
    }
    a{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 21px;
        color: $grey;
        padding: 8px 0;
        position: relative;
    }
    // contacts
    .header-contacts__tel{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-contacts__telNumbers{
        img{
            display: none;
        }
        a{
            font-size: 0.9rem;
            line-height: 17px;
            color:#4F4F4F;
        }
    }
    // dropdown
    .header-contacts__dropdown{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        .earth-icon{
            margin-right: 0px;
        }
        select{
            margin: 5px auto;
        }
    }
}
  .active {
    right: 0%;
}
// scroll header
.header-scroll{
    .header-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 20px 0;
        // logo
        .header-logo{
            width: 16%;
            margin-top: 0;
        }
        // hide info
        .header-contacts{
            display: none;
        }
        nav{
            margin-top: 0;
        }
    }
}
// FOOTER   
footer{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $grey;
}
.footer-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 0 40px 0;
    // all a and p
    a,p{
        font-weight: 300;
        line-height: 25px;
        color: #FFFFFF;
    }
    .footer-logo{
        width: 16%;
        img{
            width: 100%;
        }
    }
    .footer-contacts{
        display: flex;
        width: 65%;
        justify-content: space-between;
        margin-top: 20px;
    }
    .footer-contacts__infblock{
        display: flex;
        flex-direction: column;
    }
    .footer-contacts__socials{
        display: flex;
        a{
            margin-right: 20px;
        }
        a:last-child{
            margin-right: 0;
        }
        .fab{
            font-size: 28px;
            color: #fff;
        }
    }
    // rigts
    .footer-rigts{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        p,a{
            font-size: 0.8rem;
        }
        img{
            margin-left: 10px;
        }
    }
}

// INDEX PAGE
// slider
.slick-dotted.slick-slider{
    margin-bottom: 0!important;
}
.main-slider{
    z-index:5;
    width: 100%;
    .slide{
        width: 100%;
        display: flex !important;
    }
    .slick-initialized .slick-slide{
        display: flex !important;
    }
    // dots
    .slick-dots{
        position: absolute;
        bottom: 20px;
        left: 56%;
        width: auto;
    }
    .slick-dots li{
        margin: 2px;
    }
    .slick-dots li button:before {
        font-size: 12px;
        color: $mainBlue;
    }
    .slick-dots .slick-active button:before{
        color: $mainRed;
    }
    .slide-img{
        width: 50%;
        img{
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
               min-height: 520px;
        }
    }
    .slide-content{
        margin-top: 5%;
        margin-left: 6%;
        width: 40%;
        display: flex;
        flex-direction: column;
        h1{
            width: 60%;
            color: $mainBlue;
            margin-bottom: 20px;
        }
        p{
            width: 55%;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 30px;
            color: $grey;
            margin-bottom: 40px;
        }
        .action-btn{
            width: 30%;
        }
    }
}
// opportunities section
.opportunities{
    background-color: $mainBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    // icons
    .icon-1{
        width: 20%;
        left: -4%;
        top: -10%;
    }
    .icon-2{
        width: 15%;
        left: -6%;
        bottom: -20%;
    }
    .icon-3{
        width: 8%;
        left: 15%;
        top: 60%;
    }
    .icon-4{
        width: 15%;
        right: 10%;
        top: -10%;
    }
    .icon-5{
        width: 16%;
        right: 18%;
        bottom: -12%;
    }
    .icon-6{
        width: 30%;
        right: -20%;
        top: 15%;
    }
    .opportunities-wrapper{
        padding: 80px 0 100px 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        h2{
            color:#fff;
            margin-bottom: 20px;
            width: 80%;
        }
        span{
            font-weight: 500;
        }
        p{
            width: 90%;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 30px;
            color: #FFFFFF;
            span{
                font-weight: 400;
                padding-bottom: 1px;
                border-bottom: 1px solid $mainRed;
            }
        }
    }
}
// possibilities section
.possibilities{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    .possibilities-wrapper{
        padding: 80px 0 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .possibilities-descr{
        width: 40%;
        h3{
            margin-bottom: 20px;
            color:$grey;
        }
        p{
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 30px;
            color: #4F4F4F;
        }
    }
    .possibilities-grid{
        width: 55%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .transparent-btn{
        margin-top: 60px;
    }
}
// team section
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-1{
        width: 20%;
        left: -10%;
        top: 10%;
    }
    .icon-2{
        width: 10%;
        left: 10%;
        bottom: -10%;
    }
    .icon-3{
        width: 10%;
        right: -5%;
        top: -5%;
    }
    .icon-4{
        width: 20%;
        right: -10%;
        bottom: -10%;
    }
    .team-wrapper{
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0 130px 0;
    }
    // dots
    .slick-dots{
        position: absolute;
        bottom: -15%;
    }
    .slick-dots li{
        margin: 2px;
    }
    .slick-dots li button:before {
        font-size: 12px;
        color: $mainBlue;
    }
    .slick-dots .slick-active button:before{
        color: $mainRed;
    }
    .team-slider{
        width: 50%;
    }
    .team-slide{
        width: 100%;
        display: flex;
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 50px;
    }
    .slide-wrapper{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 45px;
        p, span{
            text-align: center;
        }
        img{
            width: 220px;
            margin-top: -50px;
            margin-bottom: 30px;
        }
        .name{
            font-size: 1.1rem;
            line-height: 25px;
            color: $grey;
            margin-bottom: 10px;
        }
        .position{
            font-style: italic;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 20px;
            color: $mainBlue;
            margin-bottom: 20px;
        }
        .description{
            width: 85%;
            font-weight: 300;
            font-size: 1rem;
            line-height: 20px;
            color: #828282;
        }
    }
    .team-descr{
        width: 40%;
        display: flex;
        flex-direction: column;
        h3{
            color:$grey;
            margin-bottom: 20px;
        }
        p{
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 30px;
            color: #4F4F4F;
            margin-bottom: 60px;
        }
        .transparent-btn{
            width: 70%;
        }
    }
    .mob-btn{
        display: none;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
// feedback
.feedback{
    background-color: #fff;
    .feedback-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .feedback-text{
        width: 40%;
        margin-left: 12%;
        display: flex;
        flex-direction: column;
        position: relative;
        img{
            width: 80px;
            position: absolute;
            left: -8%;
            top: 18%;
        }
        p{
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 40px;
            letter-spacing: -0.02em;
            color: $grey;
            margin-bottom: 15px;
        }
        span{
            font-style: italic;
            font-weight: 300;
            font-size: 1.9rem;
            line-height: 40px;
            color: #4F4F4F;
            margin-bottom: 60px;
        }
        .transparent-btn{
            width: 60%;
        }
    }
    .feedback-img{
        width: 45%;
        height: 100%;
        img{
            min-height: 400px;
            width: 100%;
             -o-object-fit: cover;
                object-fit: cover;
        }
    }
}
// connection
.connection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    .connection-wrapper{
        width: 65%;
        display: flex;
        flex-direction: column;
    }
    h3{
        margin-bottom: 20px;
        color:$grey;
    }
    .connection-companies{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .company{
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }
}
// news
.recent-news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .news-wrapper{
        padding: 100px 0;
        display: flex;
        flex-direction: column;
    }
    h3{
        color:$grey;
        margin-bottom: 30px;
    }
    .news-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -moz-column-gap: 3%;
             column-gap: 3%;
    }
    .transparent-btn{
        margin: 0 auto;
        margin-bottom: 6%;
        width: 12%;
    }
}

// NEWS PAGE
.news-page-grid{
    margin-top: 70px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 80px;
    grid-column-gap: 5%;
}
.news-nav{
    margin-bottom: 100px;
    .news-navigation{
        display: flex;
        align-items: flex-end;
        a{
            color:$grey;
            transition: all ease 0.2s;
            font-weight: 300;
            font-size: 2rem;
            line-height: 35px;
            letter-spacing: 0.03em;
            margin-right: 20px;
            padding: 2% 3%;
        }
        p{
            margin-right: 20px;
            padding: 2% 3%;
        }
        a:last-child{
            margin-right: 0;
        }
        a:hover{
            color:#000;
        }
        .active{
            border: 3px solid $mainRed;
            border-radius: 50%;
        }
    }
}
// ARTICLE PAGE
.article{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    h1,p{
        width: 50%;
        margin: 0 auto; 
    }
    h1{
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: $grey;
    }
    p{
        padding-top: 45px;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 35px;
        letter-spacing: -0.02em;
        color: $grey;
    }
    .article-img{
        width: 60%;
        margin: 0 auto; 
        margin-top: 45px;
        img{
            min-height: 500px;
            max-height: 600px;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
    .transparent-btn{
        width: 15%;
        margin: 10% auto;
        margin-left: 25%;
    }
}
// CONTACT PAGE
.map{
    width: 100%;
    height: 450px;
    iframe{
        width: 100%;
        height: 100%;
    }
}
.contact-inf{
    width: 100%;
    background-color: #fff;
    padding: 50px 0 150px 0;
}
.contact-wrapper{
    width: 50%;
    margin: 0 auto; 
    p{
        width: 80%;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 35px;
        letter-spacing: -0.02em;
        color: $grey;
    }
    .contact-inf__block{
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        img{
            width: 45px;
            margin-right: 40px;
        }
        p, a{
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 35px;
            letter-spacing: -0.02em; 
            color:$grey;
        }
        .contact-inf__mail{
            font-weight: 400;
            border-bottom: 1px solid $lightRed;
        }
    }
}